{# templates/company/base.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# On charge admin.css (structure) et company.css (détails) #}
    <link rel="stylesheet" href="{{ asset('assets/styles/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/company.css') }}">
{% endblock %}

{% block body %}
    {# 1. Inclusion de la Navbar #}
    {{ include('navbar.html.twig') }}

    {# 2. Zone de contenu spécifique pour les pages Entreprise #}
    <div class="company-layout-wrapper">
        {% block company_content %}{% endblock %}
    </div>
    {{ include('footer.html.twig') }}
{% endblock %}