{% extends 'base.html.twig' %}

{% block title %}{{ company.companyName }}{% endblock %}

{% block body %}
    <h1>{{ company.companyName }}</h1>

    {% if company.companyLogo %}
        <img src="{{ asset('uploads/logos/' ~ company.companyLogo) }}" alt="Logo de {{ company.companyName }}" style="max-height: 150px;">
    {% endif %}

    <p>
        {{ company.companyDescription is not empty ? company.companyDescription : 'Aucune description disponible.' }}
    </p>

    <a href="{{ path('app_company_index') }}">Retour</a> |
    <a href="{{ path('app_company_edit', { company_name: company.companyName }) }}">Modifier</a> |
    <a href="{{ path('app_company_delete', { company_name: company.companyName}) }}">Supprimer</a>
{% endblock %}
