<nav class="navbar">
    <div class="navbar-logo">
        <a href="/">
            <img src="/assets/images/LOGO_AMOS_WHITE.png" alt="Logo AMOS">
            <link rel="stylesheet" href="/assets/styles/navbar.css">
        </a>
    </div>
    <link rel="stylesheet" href="/assets/styles/navbar.css">
    <ul class="navbar-links">
        <li><a href="{{ path('home') }}">ACCUEIL</a></li>
        
        {% if app.user %}
            {# Afficher FORUM et PLANNING seulement si l'utilisateur n'est PAS admin #}
            {% if not is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('forum') }}">FORUM</a></li>
                <li><a href="{{ path('planning') }}">PLANNING</a></li>
            {% endif %}
            
            {# Afficher INTERFACE ADMIN seulement pour les admins #}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin') }}">INTERFACE ADMIN</a></li>
            {% endif %}
            
            <li><a href="{{ path('profil') }}">PROFIL</a></li>
        {% endif %}
        <li class="navbar-button-mobile">
            {% if app.session is defined and app.session is not null and app.session.get('user') %}
                <a href="{{ path('logout') }}" class="navbar-button">Se déconnecter</a>
            {% else %}
                <a href="{{ path('login') }}" class="navbar-button">Se connecter</a>
            {% endif %}
        </li>
    </ul>
    <div class="navbar-action">
        {% if app.user %}
            <a href="{{ path('logout') }}" class="navbar-button">Se déconnecter</a>
        {% else %}
            <a href="{{ path('login') }}" class="navbar-button">Se connecter</a>
        {% endif %}
    </div>
    <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
</nav>

<script>
    document.querySelector('.hamburger').addEventListener('click', function() {
        this.classList.toggle('active');
        document.querySelector('.navbar-links').classList.toggle('active');
    });

    document.querySelectorAll('.navbar-links li a').forEach(link => {
        link.addEventListener('click', function() {
            document.querySelector('.hamburger').classList.remove('active');
            document.querySelector('.navbar-links').classList.remove('active');
        });
    });
</script>