{# templates/user/_form.html.twig #}
{{ form_start(form) }}
  {{ form_errors(form) }}
  {{ form_row(form.user_email) }}
  {{ form_row(form.plainPassword) }}
  {{ form_row(form.user_role) }}
  {{ form_row(form.user_firstname) }}
  {{ form_row(form.user_lastname) }}
  {{ form_row(form.user_level) }}

  <div>
    <button type="submit">
      {{ button_label|default('Enregistrer') }}
    </button>
  </div>
{{ form_end(form) }} 
