{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
  <div>
    <h1>Utilisateurs</h1>

    {% if users is not empty %}
      <table>
        <thead>
          <tr>
            {# <th>ID</th> #}
            <th>Email</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Niveau</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              {# <td>{{ user.id }}</td> #}
              <td>{{ user.userEmail }}</td>
              <td>{{ user.userFirstname }}</td>
              <td>{{ user.userLastname }}</td>
              <td>{{ user.userLevel }}</td>
              <td>
                <a href="{{ path('app_user_show', { id: user.id }) }}">Voir</a>
                <a  href="{{ path('app_user_edit', { id: user.id }) }}">Modifier</a>
                <form method="post"
                      action="{{ path('app_user_delete', { id: user.id }) }}"
                      {# style="display:inline" #}
                      onsubmit="return confirm('Supprimer cet utilisateur ?');">
                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                  <button>Supprimer</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Aucun utilisateur trouvé.</p>
    {% endif %}

    <a href="{{ path('app_user_new') }}">+ Ajouter un utilisateur</a>
    {% include 'user/_import_csv.html.twig' %}
    

  </div>
  {% for label, messages in app.flashes %}
    {% for message in messages %}
      <div>{{ message|raw }}</div>
    {% endfor %}
  {% endfor %}
{% endblock %}
